.header_nav {
    background-color: #382c5d;
    padding: 2px 0px;
}

.header_list {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
    list-style: none;
}

.list_item {
    padding: 2px 24px;
    justify-content: center;
    align-items: center;
}

.list_item .item_link {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.list_item .item_link:hover {
    color: #f9d50b;
}

.list_item:hover {
    color: #f9d50b;
}

.list_item:last-child:hover {
    cursor: pointer;
}

.list_item_user {
    margin-right: 56%;
}
